.DS_Store
.dap-breakpoints
ede-projects.el
*.eld
custom.el
ido.last
smex-items
tramp
*-autoloads.el
*.elc
.mc-lists.el
.org-id-locations

.cache/
auto-save-list/
autosave/
backups/
eln-cache/
elpa/
xkcd/
eshell/
transient/
tree-sitter/
